.center {
  text-align: center;
  border: 3px double blue;
}
.myHeader {
    color: teal;
    padding: 40px;
    text-align: center;
    border: 3px double darkcyan;  
    }
    h1{
      font-family: 'Shadows Into Light', cursive;
      font-size: 30px;
      text-align: center;
    }

    h2, h3, ul{
      font-family: 'Shadows Into Light', cursive;
      font-size: 18px; 
      word-spacing: 10px;
    }
    ul.a{
      font-family: 'Shadows Into Light', cursive;
      font-size: 18px; 
      word-spacing: 10px;
      list-style-type:circle ;
    }
    p{font-family: 'Shadows Into Light', cursive;
      font-size: 25px; 
      word-spacing: 10px;
    }
  

    body {
    background-color:whitesmoke;
    }
    border: 3px double blue;  
    }
    .topnav {
  overflow: hidden;
  background-color: blue;
}
    .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    }
    .topnav a:hover {
  background-color: #ddd;
  color:gold;
    }
    body {
    background-color:whitesmoke;
    }
