.center {
  text-align: center;
  border: 3px double blue;
}
.myHeader {
    color: teal;
    padding: 40px;
    text-align: center;
    border: 3px double darkcyan;  
    }
    h1{
      font-family: 'Shadows Into Light', cursive;
      font-size: 30px;
      text-align: center;
    }

    h2, h3, ul{
      font-family: 'Shadows Into Light', cursive;
      font-size: 18px; 
      word-spacing: 10px;
    }
    ul.a{
      font-family: 'Shadows Into Light', cursive;
      font-size: 18px; 
      word-spacing: 10px;
      list-style-type:circle ;
    }
    p{font-family: 'Shadows Into Light', cursive;
      font-size: 25px; 
      word-spacing: 10px;
    }

  li{
    font-family: 'Shadows Into Light', cursive;
      font-size: 18px; 
      word-spacing: 10px;
      display: inline;
  }
    .nav {
      font-family: 'Shadows Into Light', cursive;
      font-size: 18px;
      background-color:gold; 
    position: fixed;
    top: 0;
    width: 100%;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
    }

    body {
    background-color:whitesmoke;
    }