.center {
    text-align: center;
         }
.myHeader {
    color: teal;
    padding: 20px;
    text-align: center;
    border: 3px double black;  
        }
h1{
    font-family: 'Indie Flower', cursive;
    font-size: 65px;
    color:orchid
}
h2{
    font-family: 'Shadows Into Light', cursive;
    font-size: 55px;
    color:plum
}
h3{
    font-family: 'Shadows Into Light', cursive; 
    font-size: 28px 
}
p{
    text-align: center;
    text-align: left;
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px 
    
}
li{
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px; 
    display: inline-block;
    background-color: plum;
    word-spacing: 10px;
  }
  .nav {
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
    background-color: plum; 
  position: fixed;
  top: 0;
  width: 100%;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
  }

body {
    background-color: whitesmoke;
    }
      